* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f5f5f5;
}

header {
  background: #a52a2a;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

#btn-voltar {
  background: #d9c7a2;
  color: #000;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

#btn-voltar:hover {
  background: #c1b08d;
}

table {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px #0002;
}

th {
  background: #d9c7a2;
  padding: 12px;
  text-align: left;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-details {
  background: #1976d2;
  color: white;
}

.btn-delete {
  background: #e53935;
  color: white;
}

/* MODAL */

.modal-bg {
  position: fixed;
  inset: 0;
  background: #0005;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  width: 420px;
  border-radius: 10px;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
